:root {
  --background-color: #121212; /* Color de fondo oscuro */
  --text-color: #e0e0e0; /* Color de texto claro */
  --primary-color: #bb86fc; /* Color primario (botones, enlaces, etc.) */
  --secondary-color: #03dac6; /* Color secundario */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

a {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

header, footer {
  background-color: #1e1e1e;
  color: var(--text-color);
  padding: 20px;
}

.navbar { width: 100%; background-color: #333; overflow: hidden; } .navbar ul { list-style-type: none; padding: 0; margin: 0; display: flex; justify-content: center; } .navbar ul li { padding: 14px 20px; } .navbar ul li a { text-decoration: none; font-size: 18px; color: white; display: block; transition: 0.3s; } .navbar ul li a:hover { background-color: #575757; }


.videosavitar {
  
  display: flex;
  flexdirection:column;
  align-items: center;
  height: 100vh;
  margin:auto;
  padding:0px 25%;
}

body {
  margin: 0px 10%;
}







 .body {
   background: radial-gradient(100% 100% at 51% 3%, #cdcdcd 0%, 
   transparent),
   radial-gradient(100% 100% at 49% 60%, #000000 0%, 
   transparent),#1b253b; 
} 

figcaption {
font-size: 16px; 
  color: #555; 
  margin-top: px;
  text-aling:bot;
}


.video-container { display: inline-block; }

aside {margin: 0% 5%;}

article {
  margin: 0% 5%;
  padding:5%;         

}